.realreports {
    display: flex;

    .realreportsContainer {
        flex: 6;
        padding: 20px;

        .realreportsContent {
            padding: 20px;
            background-color: #f9f9f9;

            .realreportsTitle {
                font-size: 24px;
                font-weight: bold;
                color: green;
            }
        }
    }
}