// src/components/chart/chart.scss
@import "../../style/global"; // Adjust the path based on your project structure

.chart {
    flex: 4;
    @include box-shadow; // Use the mixin
    padding: 10px;
    color: gray;

    .title {
        margin-bottom: 20px;
    }

    .chartGrid {
        stroke: rgb(228, 225, 225);
    }
}