.posts {
  display: flex;

  .postsContainer {
    flex: 6;
    padding: 20px;

    .postsContent {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;
    }

    .noPostsMessage,
    .errorMessage,
    .loadingMessage {
      text-align: center;
      font-size: 18px;
      color: #666;
      margin-top: 50px;
    }

    .errorMessage {
      color: #d9534f;
    }
  }
}
