.reporting {
  display: flex;

  .reportingContainer {
    flex: 6;
    padding: 20px;

    .reportingContent {
      padding: 20px;

      .reportingTitle {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        color: gray;
      }

      .reportTable {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;

        th,
        td {
          padding: 12px;
          text-align: left;
          border: 1px solid #ddd;
        }

        th {
          background-color: #2a5e98;
          color: white;
        }

        td {
          background-color: #f9f9f9;
        }

        .viewButton {
          padding: 5px 10px;
          color: white;
          background-color: #2a5e98;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          margin-right: 5px;

          &:hover {
            background-color: #21497d;
          }
        }

        .statusButton {
          padding: 5px 10px;
          border: none;
          border-radius: 5px;
          cursor: pointer;

          &.real {
            background-color: #4caf50;
            color: white;

            &:hover {
              background-color: #388e3c;
            }
          }

          &.fake {
            background-color: #f44336;
            color: white;

            &:hover {
              background-color: #d32f2f;
            }
          }
        }
      }

      .reportDetails {
        .backButton {
          margin-bottom: 20px;
          padding: 10px 20px;
          background-color: #2a5e98;
          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            background-color: #21497d;
          }
        }

        .detailsSection {
          h3 {
            margin-bottom: 10px;
            color: #2a5e98;
          }

          p {
            margin: 5px 0;
          }
        }
      }
    }
  }
}