.table {
    .MuiTableContainer-root {
      margin: 20px;
      border-radius: 12px;
    }
  
    .cellWrapper {
      display: flex;
      align-items: center;
  
      .image {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 10px;
        object-fit: cover;
      }
    }
  
    .tableCell {
      font-size: 14px;
      font-weight: 500;
      color: #555; // Gray text color
    }
  }
  