.container {
    position: relative;
    height: calc(100vh - 64px);
    width: 100%;
    top: 64px;
  }
  
  .map {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  